<div class="center"> 
    <h1>Welcome to SweetEggies</h1>
    <h2>SweetEggies is a one stop shop for the egg lovers of the world.</h2>
    <h3>Scrambled eggs. Fried eggs. Boiled eggs. Poached eggs. Boiled Eggs. Whatever finger lickin' egg type you desire, we supply(her)! Take a look around.    
    </h3>
    <br>
    <div class="about">
      <img src="http://thecookingdish.com/wp-content/uploads/2013/03/featured-hard-boiled-egg-faces.jpg" width="500">
      <br>
      <img src="http://cdn.gunaxin.com/wp-content/uploads/gallery/funny-egg-faces/egg-face-art-14.jpg" width="500">
      <br>
      <img src="http://www.hdwallpapersinn.com/wp-content/uploads/2014/08/186a0b3c69b84d4024b8c48dd37ae270.jpg" width="500">
      <br>
      <img src="http://37.media.tumblr.com/tumblr_leq5zr7ya71qafcbgo1_1280.png" width="500">
     
     
     </div>     
</div>     