
body {
  background-color: #E0FFC2;
  font-family: 'Raleway', sans-serif; 
  font-color: "FFFFFF"; 
}

.navbar-default .navbar-brand {
  font-color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {  
  font-color: #FFFFFF;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: url('eggs1.jpg')
}